body{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../boulder/img/salle\ gestion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

topbar{
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-top: 3%;
    
    box-sizing: border-box;
}
topbar > a >button{
    box-shadow: 0 0 4px rgba(255, 255, 255 , 0.5);
    cursor: pointer;
    border: 5px outset #c0c0c0;
    background-color: rgba(245, 243, 82, 0.733);
    font-family: 'Bungee', cursive;
    width: 200px;
    height: 80px;

}

gestion > div {
    display: flex;
    justify-content: center;

    font-family: 'Bungee', cursive;
    color: rgba(245, 243, 82, 0.733);
    font-size: 25px;
    

}

gestion{
    overflow: auto;
    padding-block: 75px;
    box-sizing: border-box;
    
}
#import{
    display: flex;
    justify-content: center;
    width: 500px;
    
    align-self: center;
    text-align: center;
    background-color: rgba(245, 243, 82, 0.733);
    cursor: pointer;
    border: 5px outset #c0c0c0;
    box-shadow: 0 0 4px rgba(255, 255, 255 , 0.5);

}
#monNiveau{
    font-size: 25px;
    text-align: center;
    padding-left: 25px;
    cursor: pointer;
    box-sizing: border-box;
 
}

.del{
    width: 80px;
    height: 80px;
    background-image: url(../boulder/img/sabreDel.png);
    background-size: contain;
    background-color: #13101065;
    border: none;
    cursor: pointer;
   
}

.down{
   
    background-image: url(../boulder/img/flechebas.png);
    background-size: contain;
    width: 100px;
    height: 80px;
    background-color: #13101065;
    border: none;
    cursor: pointer;

}

.up {
    background-image: url(../boulder/img/fleche.png);
    background-size: contain;
    width: 100px;
    height: 80px;
    background-color: #13101065;
    border: none;
    cursor: pointer;

}
gestion > div  {
    display: flex;
    justify-content: start;
}

.niv {
    padding-left: 28%;
    box-sizing: border-box;
}

gestion > div > button{
    margin-left: 400px;
}
.downVoid{
    width: 100px;

}
.upAndDown{
    display: flex;
    flex-direction: row;

}